@import "../layout/_header.scss";
@import "../layout/footer";
@import "../layout/section-1";
@import "../layout/section-2";
@import "../layout/section-3";
@import "../layout/section-4";
@import "../layout/section-6";
@import "../layout/section-7";
@import "../layout/section-8";
@import "../layout/section-9";
@import "../layout/section-10";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.continer {
    margin: auto;
    width: 1280px;
}

:root {
    --logotextcolor: rgba(23, 58, 86, 1);
    --btnbgcolor: rgba(2, 137, 122, 1);
    --textcolor: rgba(34, 52, 61, 1);
    --titlecolor: rgba(34, 52, 61, 1);
}