* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.continer {
  margin: auto;
  width: 1280px;
}

:root {
  --logotextcolor: rgba(23, 58, 86, 1);
  --btnbgcolor: rgba(2, 137, 122, 1);
  --textcolor: rgba(34, 52, 61, 1);
  --titlecolor: rgba(34, 52, 61, 1);
}

header {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}
header .head_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head_logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px 0px;
}
header .head_logo h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: var(--logotextcolor);
}
header ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
header ul a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: var(--textcolor);
}
header .head_btn {
  display: flex;
  gap: 50px;
}
header .head_btn button:first-child {
  width: 102px;
  height: 43px;
  border: 1px solid rgb(188, 208, 229);
  background-color: transparent;
  margin-left: 50px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: var(--logotextcolor);
  cursor: pointer;
}
header .head_btn button:first-child:hover {
  background-color: rgb(2, 137, 122);
  color: rgb(255, 255, 255);
  transition: all 0.3s linear;
}
header .head_btn button:nth-child(2) {
  width: 110px;
  height: 43px;
  background-color: var(--btnbgcolor);
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
}
header .head_btn button:nth-child(2):hover {
  background-color: transparent;
  border: 1px solid rgb(188, 208, 229);
  color: var(--textcolor);
  transition: all 0.3s linear;
}

.section-1 {
  width: 100%;
  height: 100%;
  padding: 25px 0px;
}
.section-1 .work_descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 .work_descriptions .work_descriptions_left h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: var(--textcolor);
  width: 518px;
  padding-bottom: 18px;
}
.section-1 .work_descriptions .work_descriptions_left p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--textcolor);
  width: 458px;
  padding-bottom: 45px;
}
.section-1 .work_descriptions .work_descriptions_left_btn {
  display: flex;
}
.section-1 .work_descriptions .work_descriptions_left_btn button:first-child {
  width: 175px;
  height: 53px;
  background-color: var(--btnbgcolor);
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.section-1 .work_descriptions .work_descriptions_left_btn button:first-child:hover {
  background-color: transparent;
  border: 1px solid rgb(2, 137, 122);
  color: rgb(2, 137, 122);
  transition: all 0.3s linear;
}
.section-1 .work_descriptions .work_descriptions_left_btn button:nth-child(2) {
  width: 180px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgb(2, 137, 122);
}
.section-1 .work_descriptions .work_descriptions_left_btn button:nth-child(2):hover {
  border: 1px solid rgb(2, 137, 122);
  transition: all 0.3s linear;
}

.section-2 {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background: linear-gradient(179.59deg, rgba(237, 237, 237, 0.5450980392) 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
}
.section-2 .prduct_title {
  padding: 100px 0px;
}
.section-2 .prduct_title h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: var(--titlecolor);
  padding-bottom: 55px;
}
.section-2 .cards {
  display: flex;
  justify-content: space-between;
}
.section-2 .cards .card {
  width: 240px;
  height: 190px;
  margin-bottom: 50px;
}
.section-2 .cards .card img {
  margin-bottom: 30px;
}
.section-2 .cards .card h4 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 13px;
}
.section-2 .cards .card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--titlecolor);
}
.section-2 .product_btn {
  text-align: center;
}
.section-2 .product_btn button {
  width: 175px;
  height: 55px;
  background-color: var(--btnbgcolor);
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.section-2 .product_btn button:hover {
  background-color: transparent;
  border: 1px solid rgb(2, 137, 122);
  color: rgb(2, 137, 122);
  transition: all 0.3s linear;
}

.section-3 {
  width: 100%;
  height: 100%;
  padding: 100px 0px;
}
.section-3 .management_descriptions {
  display: flex;
  justify-content: space-between;
}
.section-3 .management_descriptions_left {
  padding: 10px 0px;
}
.section-3 .management_descriptions_left h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 8px;
}
.section-3 .management_descriptions_left h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 23px;
}
.section-3 .management_descriptions_left p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--titlecolor);
  width: 486px;
  padding-bottom: 30px;
}
.section-3 .management_descriptions_left h5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 12px;
}

.section-4 {
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
}
.section-4 .customer_descriptions {
  display: flex;
  gap: 94px;
}
.section-4 .customer_descriptions .customer_right {
  padding: 10px 0px;
}
.section-4 .customer_descriptions .customer_right h5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 8px;
}
.section-4 .customer_descriptions .customer_right h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 23px;
}
.section-4 .customer_descriptions .customer_right p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 30px;
}
.section-4 .customer_descriptions .customer_right .customer_right_never {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.section-4 .customer_descriptions .customer_right .customer_right_never span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--titlecolor);
  width: 365px;
}

.section-6 {
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  background-color: rgba(205, 205, 205, 0.295);
}
.section-6 .proces_descriptions_title {
  text-align: center;
}
.section-6 .proces_descriptions_title h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: var(--titlecolor);
  padding-bottom: 16px;
}
.section-6 .proces_descriptions_title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: var(--titlecolor);
  padding-bottom: 32px;
}
.section-6 .proces_descriptions_avatars {
  display: flex;
  gap: 130px;
}
.section-6 .proces_descriptions_avatars .proces_descriptions_avatar {
  margin: auto;
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}
.section-6 .proces_descriptions_avatars .proces_descriptions_avatar span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--titlecolor);
  padding-top: 28px;
}
.section-6 .proces_descriptions_avatar_btn {
  text-align: center;
}
.section-6 .proces_descriptions_avatar_btn button {
  width: 216px;
  height: 53px;
  background-color: var(--btnbgcolor);
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 28px;
}
.section-6 .proces_descriptions_avatar_btn button:hover {
  background-color: transparent;
  color: rgb(2, 137, 122);
  border: 1px solid rgb(2, 137, 122);
  transition: all 0.3s linear;
}

.section-7 {
  width: 100%;
  height: 100vh;
  padding: 150px 0px;
}
.section-7 .content_strategies {
  padding: 10px 0px;
}
.section-7 .content_strategies h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 8px;
}
.section-7 .content_strategies p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 33px;
}
.section-7 .content_strategies .content_strategies_cards {
  display: flex;
  justify-content: space-between;
}
.section-7 .content_strategies .content_card {
  width: 348px;
  height: 359px;
  border-radius: 8px;
}
.section-7 .content_strategies .content_card h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--titlecolor);
  padding-bottom: 12px;
  padding-left: 20px;
}
.section-7 .content_strategies .content_card h3 span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.section-7 .content_strategies .content_card h3 h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: var(--titlecolor);
  padding-left: 20px;
}/*# sourceMappingURL=main.css.map */